[package]
name = "bgm-rank-api"
version = "0.1.0"
edition = "2024"

[dependencies]
axum = "0.8.8"
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.146"
tokio = { version = "1.48.0", features = ["full"] }

[dev-dependencies]
tower = { version = "0.5.2", features = ["util"] }
